<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>A.L. Hansen Paint and Metal</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="header">
        <div class="row">
            <div class="small-12 medium-6 columns">
                <a href="/"><img src="@Url.Content("~/Content/images/hansen-logo.png")" /></a>
            </div>

            <div class="small-12 medium-6 columns">
                <ul class="menu" data-magellan>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        @RenderBody()
        
        <footer class="footer">
            <div class="row">
                <p class="legal">&copy; @DateTime.Now.Year A.L. Hansen Paint and Metal, Inc. All Rights Reserved</p>
            </div>
        </footer>
    </main>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIWzg1-zeZbVg65VaFDZa2AV0mqz_MkZs"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation")
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/hansen")

    <script>
        $(function () {
            $(document).foundation();
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
